{% extends "base.html" %}

{% block content %}
Upload a PNG, JPG, or TIFF:


<form name="myform" enctype='multipart/form-data' action='upload_receive' method='POST'>
Filename: <input type='file' name='file' id="myfile"><p>
Name: <input type="text" name="imgName" required="required"><p>
Description: <input type="text" name="imgDesc" required="required"><p>
<input id="button" type='submit'>
</form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$('#button').click( function() {
    //check whether browser fully supports all File API
    if (window.File && window.FileReader && window.FileList && window.Blob)
    {
        //get the file size and file type from file input field
        var fsize = $('#myfile')[0].files[0].size;

        if(fsize>5243000) // if file size more than 5 MB
        {
            alert("Error! File too large!");
            window.location.replace("/");
        }
    } else {
        alert("Please upgrade your browser, because your current browser lacks some new features we need!");
    }
});
</script>
<script>
window.onload = function(){
    var btn = document.getElementById('button');
    btn.onclick = function(ev){
        var the_form = document.forms.namedItem('myform');
        alert('clicked!');
        var fd = new FormData(the_form);
        var request = new XMLHttpRequest();
        request.open("POST", "upload_receive", true);
        request.onload = function(event) {
            if (request.status == 200){
                alert('uploaded!');
                window.location = "/";
            } else {
                alert('upload failed :(');
            }
        }
        request.send(fd);
        ev.preventDefault();
    }
}

</script>
{% endblock %}
