{% extends "base.html" %}

{% block content %}
Upload a PNG, JPG, or TIFF:


<form name="myform" enctype='multipart/form-data' action='upload_receive' method='POST'>
Filename: <input type='file' name='file'><p>
<input id="button" type='submit'>
</form>
<script>
window.onload = function(){
    var btn = document.getElementById('button');
    btn.onclick = function(ev){
        var the_form = document.forms.namedItem('myform');
        alert('clicked!');
        var fd = new FormData(the_form);
        var request = new XMLHttpRequest();
        request.open("POST", "upload_receive", true);
        request.onload = function(event) {
            if (request.status == 200){
                alert('uploaded!');
                window.location = "/";
            } else {
                alert('upload failed :(');
            }
        }
        request.send(fd);
        ev.preventDefault();
    }
}

</script>
{% endblock %}
